<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Badge00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,41}</string>
                <key>spriteSourceSize</key>
                <string>{143,41}</string>
                <key>textureRect</key>
                <string>{{192,199},{143,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Badge01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,33}</string>
                <key>spriteSourceSize</key>
                <string>{140,33}</string>
                <key>textureRect</key>
                <string>{{337,199},{140,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,51}</string>
                <key>spriteSourceSize</key>
                <string>{189,51}</string>
                <key>textureRect</key>
                <string>{{1,188},{189,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button00clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,51}</string>
                <key>spriteSourceSize</key>
                <string>{189,51}</string>
                <key>textureRect</key>
                <string>{{206,51},{189,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,46}</string>
                <key>spriteSourceSize</key>
                <string>{194,46}</string>
                <key>textureRect</key>
                <string>{{206,104},{194,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,45}</string>
                <key>spriteSourceSize</key>
                <string>{194,45}</string>
                <key>textureRect</key>
                <string>{{206,152},{194,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,185}</string>
                <key>spriteSourceSize</key>
                <string>{203,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{203,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>window00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{302,48}</string>
                <key>spriteSourceSize</key>
                <string>{304,48}</string>
                <key>textureRect</key>
                <string>{{206,1},{302,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>window01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,96}</string>
                <key>spriteSourceSize</key>
                <string>{97,96}</string>
                <key>textureRect</key>
                <string>{{402,51},{97,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI00.png</string>
            <key>size</key>
            <string>{509,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62e0f5f5481ebabb590c460538eb176f:6d0268739b956d3043e38bd33d0413e9:eeec91b84294bff83f1cc392b752a385$</string>
            <key>textureFileName</key>
            <string>UI00.png</string>
        </dict>
    </dict>
</plist>
